doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //- link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
    title wPlayer
    //
       Bootstrap core CSS 
    link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    //
        Custom style
    link(href='/css/style.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='/libs/html5shiv/dest/html5shiv.js')
      script(src='/libs/respond/dest/respond.src.js')
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
        h3.text-muted wPlayer
      .row.marketing
        form.form-horizontal
          fieldset
            .btn-group
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-step-backward
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-play
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-pause
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-step-forward
        span.file-input.btn.btn-primary.btn-file 
          | Browse…
          input(type='file', multiple='multiple')

      .footer
        p &copy; wPlayer

    script(src='/libs/jquery/dist/jquery.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
    script(src='/js/app.js')
