doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //- link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
    title wPlayer
    //
       Bootstrap core CSS 
    link(href='/vendors/bootstrap.css', rel='stylesheet')
    //
        Custom style
    link(href='/css/style.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='/vendors/html5shiv.js')
      script(src='/vendors/respond.src.js')
  body
    .container
      .header
        //- ul.nav.nav-pills.pull-right
        //-   li.active
        //-     a(href='#') Home
        h3.text-muted wPlayer
        .col-sm-2
        .center.controll.row.col-xs-12.col-sm-4
          .controll-buttons
            button.btn.btn-default(type='button', name='prev', data-toggle='tooltip', data-placement='top', title='prev')
              span.glyphicon.glyphicon-step-backward
            button.btn.btn-default(type='button' name='play', data-toggle='tooltip', data-placement='top', title='play')
              span.glyphicon.glyphicon-play
            button.btn.btn-default(type='button' name='stop', data-toggle='tooltip', data-placement='top', title='stop')
              span.glyphicon.glyphicon-pause
            button.btn.btn-default(type='button' name='next', data-toggle='tooltip', data-placement='top', title='next')
              span.glyphicon.glyphicon-step-forward
        .hidden-xs.center.list.row.col-xs-12.col-sm-4
          .list-buttons(style='display: initial;')
            button.btn.btn-default(type='button', name='plus', data-toggle='tooltip', data-placement='top', title='add', disabled='disabled')
              span.glyphicon.glyphicon-plus
            button.btn.btn-default(type='button' name='clear', data-toggle='tooltip', data-placement='top', title='clear')
              span.glyphicon.glyphicon-remove
          .file-input.btn.btn-primary.btn-file
            | Browse…
            input(type='file')
        .col-sm-2
        .center.row.col-xs-12.col-sm-12
          p.text-muted.track

      .footer.col-xs-12.col-sm-12
        p &copy; wPlayer

    script(src='/vendors/jquery.js')
    script(src='/vendors/bootstrap.js')
    script(src='/js/app.js')
